<div class="card-columns m-3 mt-5">

  {% for member in site.members %}

    {%- assign member_type  = "local" -%}
    {%- assign member_id    = member.name | slugify -%}
    {%- assign member_img   = member.image -%}
    {%- assign member_name  = member.name -%}
    {%- assign member_alias  = member.alias -%}
    {%- assign member_desc  = member.description -%}
    {%- assign member_roles = member.roles -%}
    {%- assign member_pronouns = member.pronouns -%}

    {%- if member.external_url -%}
      {%- assign member_url = member.external_url -%}
      {%- assign external    = true -%}
    {%- else -%}
      {%- assign member_url = member.url | relative_url -%}
      {%- assign external    = false -%}
    {%- endif -%}

    {% include members/member-card.html %}

  {% endfor %}

</div>